/*

	INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. link this stylesheet in the head of your HTML
  	 <link href="YOUR PATH/date-dropper-theme-blue.css" rel="stylesheet" type="text/css" />
     
  2. Set the file name as data-theme attribute on your input
  	 <input data-theme="date-dropper-theme-blue" />
     
  3. That's it!
  
  When you run script the style will be automatically applied.

*/
div.datedropper.date-dropper-theme-blue {
    border-radius: 16px;
    width: 187px;
}

div.datedropper.date-dropper-theme-blue .picker {
    border-radius: 16px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.29);
}

div.datedropper.date-dropper-theme-blue .pick-l {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

div.datedropper.date-dropper-theme-blue:before,
div.datedropper.date-dropper-theme-blue .pick-submit,
div.datedropper.date-dropper-theme-blue .pick-lg-b .pick-sl:before,
div.datedropper.date-dropper-theme-blue .pick-m,
div.datedropper.date-dropper-theme-blue .pick-lg-h {
    background-color: #2196F3;
}

div.datedropper.date-dropper-theme-blue .pick-y.pick-jump,
div.datedropper.date-dropper-theme-blue .pick li span,
div.datedropper.date-dropper-theme-blue .pick-lg-b .pick-wke,
div.datedropper.date-dropper-theme-blue .pick-btn {
    color: #2196F3;
}

div.datedropper.date-dropper-theme-blue .picker,
div.datedropper.date-dropper-theme-blue .pick-l {
    background-color: #FFF;
}

div.datedropper.date-dropper-theme-blue .picker,
div.datedropper.date-dropper-theme-blue .pick-arw,
div.datedropper.date-dropper-theme-blue .pick-l {
    color: #4D4D4D;
}

div.datedropper.date-dropper-theme-blue .pick-m,
div.datedropper.date-dropper-theme-blue .pick-m .pick-arw,
div.datedropper.date-dropper-theme-blue .pick-lg-h,
div.datedropper.date-dropper-theme-blue .pick-lg-b .pick-sl,
div.datedropper.date-dropper-theme-blue .pick-submit {
    color: #FFF;
}

div.datedropper.date-dropper-theme-blue.picker-tiny:before,
div.datedropper.date-dropper-theme-blue.picker-tiny .pick-m {
    background-color: #FFF;
}

div.datedropper.date-dropper-theme-blue.picker-tiny .pick-m,
div.datedropper.date-dropper-theme-blue.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D;
}

div.datedropper.date-dropper-theme-blue.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D;
}
