//Fonts
@import "./../fonts";

//Bootstrap
@import "./../../css/bootstrap.min.css";

//MDBootstrap
@import "./../../css/mdb.min.css";

//fontawesome
@import "./../../css/fontawesome.min.css";


body {
    font-family: Vazir;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

html,
body,
header,
.jarallax {
    height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
        height: 500px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
        height: 500px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1c2a48 !important;
    }

    .navbar {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    }
}

/*header*/

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.animated-icon1 span {
    background: white;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

.darkmode-toggle {
    z-index: 1 !important;
}

.darkmode--activated .sidebar_card,
.darkmode--activated .sidebar_card li {
    /*background-color: #212529 !important;*/
    background-color: #1c2331 !important;
    color: #fff !important;
    border-color: blueviolet !important;
}



.darkmode--activated span {
    background-color: #1c2331 !important;
    color: #fff !important;
}


.darkmode--activated .span_darkmode_handler,
.darkmode--activated .span_darkmode_handler input {
    color: #d3d3d3 !important;
}

.darkmode--activated .li_darkmode_handler,
.darkmode--activated .li_darkmode_handler input {
    color: #d3d3d3 !important;
}

.darkmode--activated .sidebar_title {
    background-color: #6351ce !important;
    color: #fff !important;
}

.darkmode--activated .input_darkmode_handler,
.darkmode--activated .input_darkmode_handler input {
    background-color: #1c2331 !important;
    color: #fff !important;
}

.darkmode--activated p {
    color: #d3d3d3 !important;
}

.darkmode--activated .p_darkmode_handler,
.darkmode--activated .p_darkmode_handler p {
    color: #d3d3d3 !important;
}

.darkmode--activated .lable_darkmode_handler,
.darkmode--activated .lable_darkmode_handler label {
    color: white !important;
}

.darkmode--activated em {
    color: #2396f3 !important;
}

.darkmode--activated strong {
    color: #ff9800 !important;
}

.darkmode--activated hr {
    background-color: #d3d3d3 !important;
}

.darkmode--activated .hr_darkmode_handler,
.darkmode--activated .hr_darkmode_handler hr {
    color: #d3d3d3 !important;
}

.darkmode--activated .strong_darkmode_handler,
.darkmode--activated .strong_darkmode_handler strong {
    color: #d3d3d3 !important;
}

.darkmode--activated .textarea_darkmode_handler {
    background-color: #1c2331 !important;
    color: #fff !important;
}

.comments-list .avatar,
.reply-form .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.comment {
    direction: rtl;
    text-align: right;
}

.comment .card-data ul {
    padding: 0;
}

.picker {
    position: unset !important;
    z-index: 10000;
    font-size: 1rem;
    line-height: 1.2;
    color: #000;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-date {
    direction: rtl;
    margin: 0;
}

.image-post {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
}


/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 3px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 3px;
    background: linear-gradient(
            45deg,
            #FFFF00,
            #FF5722
    );
    width: 0%;
    border-radius: 10px;
}

.darkmode--activated .progress-bar {
    height: 3px;
    background: linear-gradient(
            45deg,
            #06dee1,
            #79ff6c
    );
    width: 0%;
    border-radius: 10px;
}

.darkmode--activated::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}

.darkmode--activated::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

.darkmode--activated::-webkit-scrollbar-thumb {
    background: linear-gradient(
            45deg,
            #06dee1,
            #79ff6c
    );
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
            45deg,
            #FFFF00,
            #FF5722
    );
    border-radius: 10px;
}

.post-title,.post-body * {
    direction: rtl !important;
    text-align: right !important;
}



