//Fonts
@import "./../fonts";
//Bootstrap
@import "./../../css/bootstrap.min.css";
//Fontawesome
@import "./../../css/fontawesome.min.css";
//MDBootstrap
@import "./../../css/mdb.min.css";
//Bootstrap RTL
@import "~hbootstrap4rtl/bootstrap-rtl.min.css";

body {
    font-family: Vazir;
}

.navbar {
    min-height: 56px;
    height: 56px;
    z-index: 1500;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-btn {
    width: 40px;
    padding: 0;
    margin: 0;
    height: 40px;
}

//Start Sidebar
.hamburger {
    z-index: 2000;
}

.hamburger i {
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.hamburger .fa-times {
    display: none;
}

.hamburger.open .fa-times {
    display: block;
}

.hamburger.open .fa-bars {
    display: none;
}

.sidebar {
    position: fixed;
    z-index: 1000;
    background: #ffffff;
    top: 56px;
    right: -100%;
    height: calc(100vh - 56px);
    padding: 5px;
    transition: right 0.5s linear;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 15px -5px #252525;
}

.my-content::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    transform: translate(-100%, -100%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.2s 0.5s ease-in-out;
}

.sidebar.open + .my-content::before {
    transform: translate(0, 0);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.sidebar.open {
    right: 0;
}

.my-content {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 56px;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.menu,
.submenu {
    list-style: none;
    padding: 0;
}

.menu-link {
    display: block;
    text-decoration: none;
    line-height: 3rem;
    color: #252525;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding-right: 1rem;
    position: relative;
    transition: padding-right 0.3s linear;
}

.user-info {
    color: #252525;
    padding: 0;
    width: 290px;
    margin-top: 0.5rem;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.user-info:hover {
    color: #4285f4;
}

.user-info span {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.menu-link i {
    margin-left: 20px;
}

.menu-item > .menu-link {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.menu-item .submenu .menu-link {
    background: #f6f6f6;
    border-bottom: 1px solid #ccc;
}

.menu-item > .menu-link.active {
    //background: linear-gradient(to right, #393ca0, #7620a1);
    background: linear-gradient(40deg, #45cafc, #303f9f);
    color: #fff;
}

.submenu {
    max-height: 0;
    padding-right: 40px;
    overflow: hidden;
    transition: max-height 0.5s linear;
}

.menu-link.active + .submenu {
    max-height: 10em;
}

.menu-item > .menu-link i {
    transition: transform 0.5s linear;
}

.menu-link.active .fa-chevron-left {
    transform: rotate(-90deg);
}

.menu-item .menu-link + .submenu .menu-link.active,
.submenu .menu-link.active i {
    font-weight: bold;
    color: #25476a;
}

.menu-link:hover {
    padding-right: 2rem;
    color: #252525;
}

.menu-item > .menu-link.active:hover {
    color: #fff;
}

.menu-item .menu-link + .submenu .menu-link.active:hover {
    font-weight: bold;
    color: #25476a;
}

@media screen and (min-width: 768px) {
    .sidebar {
        right: 0;
        width: 50px;
        padding: 0;
        transition: width 0.5s linear;
    }

    .sidebar .menu-link.active + .submenu {
        max-height: 0px;
    }

    .sidebar:hover,
    .sidebar.open {
        width: 250px;
    }

    .sidebar:hover .menu-link.active + .submenu,
    .sidebar.open .menu-link.active + .submenu {
        max-height: 99px;
    }

    .user-info {
        width: 250px;
        line-height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .user-avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
    }

    .sidebar.open .user-info {
        line-height: 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar.open .user-info span {
        margin-right: 0;
    }

    .sidebar.open .user-avatar {
        width: 70px;
        height: 70px;
    }

    .my-content {
        width: calc(100% - 50px);
        margin-right: auto;
        transition: width 0.5s linear;
    }

    .my-content::before {
        content: initial;
    }

    .sidebar.open + .my-content {
        width: calc(100% - 250px);
    }

    .menu-item > .menu-link.active {
        z-index: 4000;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .menu-link {
        width: 250px;
        color: #252525;
        border-radius: 0;
        margin-bottom: 0;
        padding-right: 1.1rem;
    }

    .submenu {
        padding-right: 0;
    }

    .menu-item .menu-link + .submenu .menu-link.active::before {
        content: "";
        width: 5px;
        height: 100%;
        position: absolute;
        background: #25476a;
        top: 0;
        right: 0;
    }
    //End Sidebar

    .w-md-100 {
        width: 100% !important;
    }
}

.article-img-container,
.user-img-container {
    overflow: hidden;
    position: relative;
    height: 200px;
}

.user-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-img-top,
.user-img-top {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-img-top {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: none;
    object-fit: contain;
}

.article-img-top:hover {
    transform: scale(1.1);
}

.red-gradient {
    background: linear-gradient(40deg, #ff6b6b, #f4312f);
}

.article .btn-action,
.user .btn-action {
    margin-top: -1.8rem;
}

.add-btn {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.add-btn i {
    font-size: 20px;
    margin-left: 0.5rem;
}

.add-btn:hover {
    transform: scale(1.1);
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    text-align: right;
    direction: rtl;
}

.md-form label {
    right: 0;
    left: auto;
    transition: all 0.3s ease-in-out;
}

.md-form label.active,
.md-form label.cactive {
    transform: translateY(-14px);
    font-size: 14px;
    pointer-events: none;
}

.btn-search {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    i {
        line-height: 41px;
    }
}

select {
    font-family: Vazir;
}

.upload-zone {
    border: 3px dashed #252525;
    height: 200px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
    text-align: center;
    outline: none;
}

.upload-zone:hover {
    border-color: rgb(44, 127, 235);
}

.upload-zone span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
}

.upload-zone-selected {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.upload-zone-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
}

.upload-zone-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.switch {
    min-width: 60px;
    min-height: 30px;
    margin-left: 10px;
    position: relative;
}

.switch input {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    position: absolute;
    cursor: pointer;
    pointer-events: all !important;
}
.switch .switch-content {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 15px;
    position: absolute;
    top: 0;
}

.switch .switch-button {
    min-width: 25px;
    min-height: 25px;
    border-radius: 100%;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    transition: left 0.2s ease-in-out, background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
}
.switch input:checked + .switch-button {
    left: 53%;
    background: #2485e7;
    box-shadow: 0 0 4px -1px #252525;
}

.switch-sm {
    min-width: 35px;
    min-height: 20px;
}

.switch-sm .switch-content {
    border-radius: 10px;
}

.switch-sm .switch-button {
    min-width: 15px;
    min-height: 15px;
    left: 6%;
}

.switch-sm input:checked + .switch-button {
    left: 47%;
}

.switch-lg {
    min-width: 90px;
    min-height: 40px;
}

.switch-lg .switch-content {
    border-radius: 20px;
}

.switch-lg .switch-button {
    min-width: 35px;
    min-height: 35px;
    left: 5%;
}

.switch-lg input:checked + .switch-button {
    left: 57%;
}

.small-btn {
    height: 50px;
}

.burning-gradient,
.burning-gradient:hover {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
}

.loading {
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100vh;
    background-color: rgba(#fff, 0.8);
    top: 0;
    left: 0;
}

.loading span {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading span::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 8px solid #252525;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 0.8s linear infinite;
    position: absolute;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.z-index-100 {
    z-index: 100;
}

.z-index-2 {
    z-index: 2;
}

.border-text {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    background: #fff;
    top: -9px;
    right: 10px;
    pointer-events: none;
}

.gender {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.gender img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and (min-width: 768px) {
    .gender {
        width: 200px;
        height: 250px;
        flex-direction: column;
        margin-right: 10px;
        margin-bottom: initial;
    }

    .gender img {
        width: 150px;
        height: 150px;
    }
}

.datepicker-input {
    width: 100%;
}

.datepicker-label {
    position: absolute;
    top: -35px !important;
    font-size: 14px !important;
}

.dayWrapper.today button {
    border: 0px !important;
}

.error-text {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 5px 10px;
    background: #fff;
    color: #ff3547 !important;
    border-radius: 5px;
    text-align: center;
    position: relative;
    border: 2px solid #ff3547;
}

.error-text::before {
    content: "";
    background: #fff;
    width: 10px;
    height: 10px;
    top: -2px;
    transform: rotate(45deg) translate(-50%, 8%);
    position: absolute;
    left: 50%;
    border: 2px solid #ff3547;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.comment {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}
.comment-header,
.comment-body,
.comment-footer {
    padding: 10px;
}
.comment-body {
    background: whitesmoke;
}

.comment-body p,
.comment-body h1,
.comment-body h2,
.comment-body h3,
.comment-body h4,
.comment-body h5,
.comment-body h6 {
    margin-bottom: 0;
}

.dashboard-header {
    position: absolute;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dashboard-body {
    padding-top: 25px !important;
    padding-bottom: 0 !important;
    text-align: center;
    font-size: 35px;
}

table p {
    margin-bottom: 0;
}

canvas {
    width: 100% !important;
    height: auto !important;
    transition: none !important;
    animation: none !important;
}

.fas.fa-sync-alt {
    animation: rotate 1s infinite linear;
}
