//Fonts
@import "./../fonts";
//Bootstrap
@import "./../../css/bootstrap.min.css";
//Fontawesome
@import "./../../css/fontawesome.min.css";
//MDBootstrap
@import "./../../css/mdb.min.css";
//Bootstrap RTL
@import "~hbootstrap4rtl/bootstrap-rtl.min.css";

body {
    font-family: Vazir;
    height: 100vh;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    text-align: right;
    direction: rtl;
}

.md-form label {
    right: 0;
    left: auto;
    transition: all 0.3s ease-in-out;
}

.md-form label.active,
.md-form label.cactive {
    transform: translateY(-14px);
    font-size: 14px;
}

.card {
    padding: 10px;
    width: 100%;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .card {
        width: 40%;
        margin: 0;
    }
}

.top-overflow {
    text-align: center;
    padding: 15px 0;
    width: 80%;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.top-overflow h5 {
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.bottom-overflow {
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: -40.55px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: blur(2px);
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
}
